{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
	{{ block.super }} - Delete Post
{% endblock %}

{% block heading %}
	Delete Post
{% endblock %}

{% block content %}
	<div>
		<form action="{{ post.get_delete_url }}" method="post">
			{% csrf_token %}
			<p>
				Are you sure you want to delete
				<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>?
			</p>
			<button type="submit">Delete</button>
		</form>
		<a href="{{ post.get_absolute_url }}"><button>Cancel</button></a>
	</div>
{% endblock %}
