{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Startup
{% endblock %}

{% block heading %}
	Startups List
{% endblock %}

{% block content %}
<ul>
	{% for startup in startup_list %}
	<li>
		<a href="{{ startup.get_absolute_url }}">
			{{ startup.name }}
		</a> - <span class="edit-icon"><a href="{{ startup.get_update_url }}">&#128393;</a></span>
	</li>
	{% empty %}
	<li><em>There are no startups availables.</em></li>
	{% endfor %}
</ul>
<p>
	<a href="{% url 'startup_create' %}">Add +</a>
</p>
{% endblock %}

{% block paginator %}
	{% include "paginator_snippet.html" with object_list=startup_list %}
{% endblock %}
