{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - {{ startup.name }}
{% endblock %}

{% block heading %}
<h1>Startup Details Page</h1>
{% endblock %}

{% block content %}
<article>
	<h2>{{ startup.name }}</h2>

	<dd>{{ startup.description|linebreaks }}</dd>

	<br>
	<dl>
		<dt>Date Founded: {{ startup.founded_date|date:"jS F, Y" }}</dt>
		<br>

		<dt>Website: <a href="{{ startup.website }}">{{ startup.website }}</a></dt>
		<br>

		<dt>Contact: {{ startup.contact }}</dt>
		<br>

		<dt>tag{{ startup.tags.count|pluralize }}:</dt>
		{% for tag in startup.tags.all %}
		<dd><a href="{{ tag.get_absolute_url }}">{{ tag.name|title }}</a></dd>
		{% endfor %}
		<br>
	</dl>

	<h3>Recent News</h3>
	{% if startup.newslink_set.exists %}
	<section>
		<ul>
			{% for newslink in startup.newslink_set.all %}
			<li>
				<a href="{{ newslink.get_absolute_url }}">{{ newslink.title|title }}</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	{% endif %}
	<div>
		<a href="{% url 'newslink_create' %}"><button>Add +</button></a>
	</div>

	{% if startup.blog_posts.exists %}
	<section>
		<h3>Blog Post{{ startup.blog_posts.count|pluralize }}</h3>
		<ul>
			{% for post in startup.blog_posts.all %}
			<li>
				<a href="{{ post.get_absolute_url }}">
					{{ post.title|title }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	{% endif %}
</article>
<br>
<div>
	<a href="{{ startup.get_update_url }}"><button>Edit</button></a>
	<a href="{{ startup.get_delete_url }}"><button>Delete</button></a>
</div>
{% endblock %}
