{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
	{{ block.super }} - Delete Startup
{% endblock %}

{% block heading %}
	Delete Startup
{% endblock %}

{% block content %}
	<div>
		<form action="{{ startup.get_delete_url }}" method="POST">
			{% csrf_token %}
			<p>
				Are you shure you want to delete
				<a href="{{ startup.get_absolute_url }}">{{ startup.name }}</a>?
			</p><br>
			<button type="submit">Delete</button>
		</form>
		<a href="{{ startup.get_absolute_url }}"><button>Cancel</button></a>
	</div>
{% endblock %}
