{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Tag List
{% endblock %}

{% block heading %}
<h1>Tags List Page</h1>
{% endblock %}

{% block content %}
<h2>Tag List</h2>
<ul>
	{% for tag in tag_list %}
	<li>
		<a href="{{ tag.get_absolute_url }}">
			{{ tag.name|title }}
		</a>
		<span class="edit-delete-icon">
			- <a href="{{ tag.get_update_url }}">&#128393;</a>
			- <a href="{{ tag.get_delete_url }}">&#128465;</a>
		</span>
	</li>
	{% empty %}
	<li><em> There are currently no tags available.</em></li>
	{% endfor %}
</ul>
<p>
	<a href="{% url 'tag_create' %}">Add +</a>
</p>
{% endblock %}
