<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Startup Organizer
      {% endblock %}
    </title>
  </head>

  <body>

    <div><!-- container -->
      <header>
          <h1>Startup Organizer</h1>
      </header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'post_list' %}">
              Blog</a></li>
          <li>
            <a href="{% url 'startup_list' %}">
              Startups</a></li>
          <li>
            <a href="{% url 'tag_list' %}">
              Tags</a></li>
        </ul>
      </nav>
      <main>
        {% block content %}
          This is default content!
        {% endblock %}
      </main>
    </div><!-- container -->

    <footer>
      <p>
        &copy; 2015
        <a href="https://AndrewsForge.com/">
          Andrew Pinkham</a>
      </p>
      <p>
        Created for
        <a href="https://Django-Unleashed.com/">
          Django Unleashed</a>
      </p>
    </footer>

  </body>

</html>

