<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		{% block title %}
		Startup Organizer
		{% endblock %}
	</title>
	<style>
		body {
			background: #1d2021;
			color: rgb(232, 230, 227);
		}
		a {
			color: #3391ff;
		}
	</style>
</head>

<body>
	<div>
		<header>
			{% block heading %}
			<h1 class="main-heading">Startup Organizer</h1>
			{% endblock %}
			{% block navbar %}
			<nav>
				<a href="{% url 'post_list' %}">Blog</a> |
				<a href="{% url 'startup_list' %}">Startups</a> |
				<a href="{% url 'tag_list' %}">Tags</a> |
				<a href="{% url 'contact' %}">Contact</a>
				<br>
			</nav>
			{% endblock %}
		</header>
		<main>
			{% block content %}
			This is default content
			{% endblock %}
		</main>
	</div>

	<div>
		{% if messages %}
			<div>
				<ul>
					{% for message in messages %}
						{% if message.tags %}
							<li class="{{ message.tags }}">{{ message }}</li>
						{% else %}
							<li>{{ message }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>

	<footer>
		<p>&#127279; 2021
			<a href="https://github.com/Eadwulf/" title="Eadwulf on Github" target="_blank">
				Adolfo Jiménez
			</a>
		</p>
		<p>Created following
			<a href="https://django-unleashed.com" title="Django Unleashed" target="_blank">
				Django Unleashed Book
			</a>
		</p>
	</footer>
</body>

</html>
