<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Startup Organizer
      {% endblock %}
    </title>
  </head>

  <body>
    <div>
      <header>
        <h1>Startup Organizer</h1>
        <nav>
          <ul>
            <li>
              <!-- <a href="{% url 'post_list' %}">Blog</a></li>
            <li>
              <a href="{% url 'startup_list' %}">Startups</a></li>
            <li>
              <a href="{% url 'tag_list' %}">Tags</a></li>
              -->
          </ul>
        </nav>
      </header>
      <main>
        {% block content %}
          This is default content
        {% endblock %}
      </main>
    </div>

    <footer>
      <p>&#127279; 2021
        <a href="https://github.com/Eadwulf/"</a>
          Adolfo Jiménez
        </a>
      </p>
      <p>Created following
        <a href="https://django-unleashed.com">
          Django Unleashed Book
        </a>
      </p>
    </footer>
  </body>

</html>
