{% if object_list.has_other_pages %}
	<div class="paginator">
		<div class="container">
		  <div class="row align-items-end">

		    <div class="col text-end">
				{% if object_list.has_previous %}
			     	<a href="?page={{ object_list.previous_page_number }}">
						&laquo; Previous 
					</a>
				{% else %}
					...
				{% endif %}
		    </div>

		    <div class="col text-center">
				<span class="current">
					<a href="?page={{ object_list.number }}">
						{{ object_list.number }}
					</a>
			  	</span>
		    </div>

		    <div class="col text-start">
				{% if object_list.has_next %}
				<a href="?page={{ object_list.next_page_number }}">
					Next &raquo;
				</a>
				{% else %}
					...
				{% endif %}
		    </div>

		  </div>
		</div>
	</div>
{% endif %}
